.container{
    width: 1000px;
    margin: auto;
}

.titolo{
    text-align: center;

    
}
.testo-titolo{
    font-size: 40px;
    
}

.paragrafo{
  background-color: black;
  padding: 20px;
  text-align: center;
}

p{
    font-size: 20px;
    color: white;
}



